body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(53, 48, 48);
    color: white;
    margin: 0;
}

.nav-left {
    display: flex;
    gap: 35px;
    align-items: center;

    margin-left: 15px;
}

.nav-right {
    display: flex;
    gap: 10px;
    align-items: center;

    margin-right: 20px;
}

.nav-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
}

.nav-option {
    font-size: 16px;
    color: rgb(195, 174, 174);
}

.nav-option:hover {
    cursor: pointer;
}

p {
    margin: 17px 0;
}

.nav-btn {
    padding: 10px;
    font-size: 15px;
}

.nav-btn:hover {
    cursor: pointer;
}

.nav-btn-contact {
    border: 1px solid rgba(255, 255, 255, 0.266);
    background: none;
    color: white;
    transition: 0.1s;
}

.nav-btn-contact:hover {
    background-color: rgba(255, 255, 255, 0.133);
    border: 1px solid rgba(255, 255, 255, 0);
}

.nav-btn-get-started {
    background-color: blueviolet;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 0.4s;
}

.nav-btn-get-started:hover {
    background-color: blue;
}

.header {
    background-color: rgb(53, 48, 48);
    color: white;
    padding: 7% 15%;
    text-align: center;
}

.header h1{
    font-size: 85px;
    margin: 0;
}

.header p{
    font-size: 24px;
    margin: 30px 0;
}

.header button{
    font-size: 20px;
    padding: 15px 20px;
    background-color: blueviolet;
    color: white;
    border: 0;
    transition: 0.3s;
}

.header button:hover{
    background-color: blue;
    cursor: pointer;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 5% 5%;
    gap: 20px;

    background-color: rgb(53, 48, 48);
    color: white;
}

.feature h2{
    font-size: 20px;
}

.feature p{
    font-size: 16px;
}

.feature .bi{
    margin-right: 5px;
}

.design {
    margin: 5%;
}

.design h2{
    font-size: 85px;
    margin: 0;
    width: 85%;
}

.design p{
    font-size: 26px;
    margin: 30px 0;
    width: 55%;
    line-height: 1.5;
    color: rgb(92, 88, 88);
}

.design button{
    font-size: 16px;
    padding: 15px 20px;
    background-color: blueviolet;
    color: white;
    border: 0;
    transition: 0.3s;
}

.design button:hover{
    background-color: blue;
    cursor: pointer;
}

.design-features {
    margin: 5%;
    color: rgb(77, 69, 69);
}

.design-feature-title h3{
    font-size: 24px;
    margin: 0;
}

.design-feature-title .bi{
    margin-right: 35px;
}

.design-feature {
    margin: 80px 0;
    width: 45%;
}

.bi {
    font-size: 24px;
}

.design-feature-title {
    display: flex;
}

.design-feature:hover{
    cursor: pointer;
}

.platform {
    padding: 5%;
    background-color: rgb(53, 48, 48);
    color: white;
}

.platform h3{
    font-size: 80px;
    width: 70%;
    margin: 0;
}

.platform p{
    font-size: 25px;
    margin: 30px 0;
}

.platform button{
    font-size: 16px;
    padding: 15px 20px;
    background-color: blueviolet;
    color: white;
    border: 0;
    transition: 0.3s;
}

.platform button:hover{
    background-color: blue;
    cursor: pointer;
}

.collab-and-seo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

.collab-and-seo div {
    background-color: rgba(255, 255, 255, 0.14);
    padding: 30px;
    margin: 34px 0;
    overflow: hidden;
    height: 550px;
}

.collab-and-seo div h4{
    font-size: 30px;
    margin: 0 0 20px;
}

.collab-and-seo div p{
    font-size: 17px;
    margin: 20px 0;
    line-height: 1.8;
}

.collab-and-seo div img{
    width: 100%;
    height: 400px;
    /* object-fit: contain; */
    opacity: 0.5;
    transform: scale(1.1);
    margin-top: 30px;
}

.collab-and-seo .collab img{
    position: relative;
    right: 40px;
}

.collab-and-seo .seo img{
    position: relative;
    left: 20px;   
}

.enterprice {
    padding: 5%;
    background-color: rgb(53, 48, 48);
    color: white;
}

.enterprice h3{
    font-size: 80px;
    width: 70%;
    margin: 0;
}

.enterprice p{
    font-size: 25px;
    margin: 30px 0;
    width: 53%;
}

.enterprice button{
    font-size: 16px;
    padding: 15px 20px;
    background-color: blueviolet;
    color: white;
    border: 0;
    transition: 0.3s;
}

.enterprice button:hover{
    background-color: blue;
    cursor: pointer;
}