body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: rgb(40, 37, 37);
    color: white;
    text-align: center;

    padding: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    padding-right: 5px;
    margin: 0;
    margin-top: 15px;
}

ul li{
    list-style: none;
    font-size: 17px;

    color: white;
}

li button{
    padding: 7px 20px;
    font-size: 17px;
    font-weight: bold;

    background-color: skyblue;
    border-radius: 5px;
}

.click-btn {
    position: relative;
    top: 5px;
}

.title {
    font-size: 90px;
    font-weight: normal;
    margin: 0;

    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.search-input {
    font-size: 32px;
    border-radius: 50px 0 0 50px;
    border: 0;

    margin: 0;
    margin-top: 30px;

    background-color: rgb(40, 37, 37);
    color: white;

    border: 0.5px solid rgba(209, 203, 203, 0.454);
    border-right: 0;
    padding-left: 20px;
}

.search-button {
    margin: 0;
    font-size: 20px;
    border-radius: 0 50px 50px 0;
    padding: 8px 20px;

    position: relative;
    bottom: 4px;
    right: 5px;

    border: 0.5px solid rgba(209, 203, 203, 0.454);
    border-left: 0;
    transition: 0.3s;
}

.search-button:hover{
    background-color: rgb(40, 37, 37);
    color: white;
}

.sub-button {
    background-color: rgb(69, 53, 53);
    color: white;

    font-size: 14px;

    border: 0;
    padding: 10px 15px;
    margin: 20px 5px;
}

button:hover{
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;

    background-color: rgb(26, 25, 25);
    color: rgb(66, 162, 162);
    width: 100%;

    text-align: left;
    font-size: 17px;
}

.footer p{
    padding: 15px 35px;
    margin: 0;
}