body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(46, 43, 43);
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left p{
    display: inline-block;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
}

.header-left {
    font-size: 27px;
    display: flex;
}

.header-left i{
    position: relative;
    /* top: px; */
    bottom: 2px;
}

.header-left .bi-list{
    margin: 0 20px;
}

.header-left .bi-youtube{
    color: red;
    margin-right: 2px;
}

.header-left p sup{
    font-weight: normal;
    font-size: 12px;
}

.header-middle input{
    font-size: 16px;
    width: 500px;
    border: 1px solid black;
    border-right: 0;
    padding-left: 15px;
    border-radius: 15px 0 0 15px;
    height: 100%;

}

.header-middle {
    height: 100%;
}

.header-middle input,
.search{
    /* height: 30px; */
    height: 100%;
}

.search{
    color: white;
}

.header-middle input{
    padding: 6px 20px;
    background-color: rgb(46, 43, 43);
    border: 1px solid rgb(150, 136, 136);
}

.search{
    position: relative;
    right: 5px;
    padding: 5px 20px;
    font-size: 17px;
    border: 1px solid rgb(150, 136, 136);
    border-radius: 0 15px 15px 0;
    background-color: rgb(46, 43, 43);
}

.mic{
    font-size: 17px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 0;
}

.header-middle button {
    font-size: 21px;
}

.header-middle .three-dots{
    background: none;
    border: 0;
    color: white;
}

.header-middle .sign-in{
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 35px;
    color: blueviolet;
    border: 0.5px solid blueviolet;
    background-color: rgb(46, 43, 43);
}

div p .bi{
    margin: 0 20px;
}

.nav-bar {
    width: 17%;
}

.nav-sign-in {
    padding: 0 20px;
}

.nav-sign-in button{
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 20px;
    border: 0;
    color: rgb(129, 129, 207);
    background: none;
    border: 0.3px solid white;
}

.nav-sign-in button:hover{
    cursor: pointer;
    background-color: rgb(93, 84, 84);
}

.extra-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 40px 0;
}

.extra-options p{
    font-size: 14px;
    margin: 0;
    color: rgb(229, 214, 214);
}

.copyright {
    font-size: 14px;
    color: rgb(164, 150, 150);
}

.nav-bar div p:hover{
    cursor: pointer;
}

.video-categories {
    display: flex;
    gap: 10px;
}

.video-categories p{
    background-color: rgba(255, 255, 255, 0.157);
    padding: 5px 10px 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.video-categories p:hover{
    background-color: rgba(255, 255, 255, 0.28);
    cursor: pointer;
}

.video {
    height: 250px;
    width: 300px;
    text-align: center;
}

.video-image-wrapper {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.video-image-wrapper {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-title {
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-top: 10px;
}

.channel-name {
    font-size: 12px;
    text-align: left;
    margin: 0;
}

.video-views {
    display: inline-block;
    margin: 0;
}

.video-time {
    font-size: 14px;
    display: inline-block;
    margin: 0;
}