.container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    color: white;
    height: 100vh;
}

.container div{
    flex-grow: 1;
}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    align-self: flex-start;
}

.red{
    height: 100px;
    width: 100px;
    background-color: red;
}

.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    color: black;
}

.black{
    height: 100px;
    width: 100px;
    background-color: black;
    align-self: flex-start;
}